.bging3{
	background-image:url('https://img.freepik.com/free-vector/isometric-mobile-phone-background-template_52683-7075.jpg?w=2000') ;
    background-size:cover ;
    height: 180vh;
}
.headfirst{
	color: white;
	font-family: 'Roboto';
	font-size: 30px;
	font-weight: bold;
    padding: 25px;
}
.cardlayout{
	background-color: white;
	border-bottom-left-radius:12px ;
	border-bottom-right-radius:12px ;
	margin: 100px;
	margin-top:15px ;
}
.cardcon{
	padding: 20px;
}
.headsecond{
	color: blue;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: bold;
}
.paraline{
	color: #6c6b70;
	font-family: 'Roboto';
	font-size: 13px;
}